html, body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    height: 60px;
    width: 90%;
    top: 94px;
    position: fixed;
    z-index: 99;
    background-color: #FFFCE3;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    height: 60px;
    width: 60px;
    background-image: url(../images/nav-icon.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.nav-search {
    width: 90%;
    height: 40px;
    padding-left: 15px;
    margin-right: 20px;
    border: 0;
    background-color: #FFFDED;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #56543F;
    opacity: 0.8;
}

main {
    height: 100vh;
    width: 100%;
}

.cta {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    background-color: #41A082;
}

.cta-second-background {
    height: 600px;
    width: 1050px;
    background-color: #75A596;

}

.cta-image {
    height: 600px;
    width: 902px;
    position: fixed;
    background-image: url(../images/cta-image.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.cta-title {
    height: 100px;
    width: auto;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Amatic SC', cursive;
    font-size: 3.4em;
    font-weight: 500;
    text-align: center;

}