html, body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #41A082;
    z-index: -2;
}

.nav-bar {
    height: 60px;
    width: 90%;
    max-width: 1800px;
    top: 94px;
    position: fixed;
    z-index: 99;
    background-color: #FFFCE3;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.scrolled {
    top: 0;
    width: 100%;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.nav-icon {
    min-height: 60px;
    min-width: 60px;
    background-image: url(../images/nav-icon.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.nav-title {
    font-family: 'Amatic SC', cursive;
    opacity: 0;
    font-size: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-title-scrolled {
    margin-left: 50px;
    font-size: 3em;
    text-align: left;
    opacity: 1;
    justify-self: flex-start;
    flex-grow: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-search {
    width: 90%;
    height: 40px;
    padding-left: 15px;
    margin-right: 20px;
    border: 0;
    background-color: #FFFDED;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #56543F;
    opacity: 0.8;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.nav-scrolled {
    width: 40%;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

main {
    min-height: 100vh;
    max-width: 1440px;
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta {
    height: 600px;
    max-width: 1440px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content:center;
    background-color: #41A082;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    z-index: -1;
}

.shadow-wrapper {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: black;
    opacity: 0;
    z-index: 10;
}

.cta-main {
    height: 600px;
    width: 1100px;
    background-color: #75A596;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-image {
    height: 600px;
    width: 902px;
    margin: 0 100px;
}

.cta-title {
    height: 64px;
    width: 902px;
    padding: 15px 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Amatic SC', cursive;
    font-size: 3.4em;
    font-weight: 500;
    text-align: center;
}

.categories {
    min-height: auto;
    width: 100%;
    margin-top: 600px;
    background: #FFFDED;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.categories-top {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-title {
    width: 300px;
    padding-bottom: 4px;
    border-bottom: 1px solid #444444;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 250;
    text-align: center;
}

.category-row {
    height: auto;
    width: 100%;
    margin-bottom: -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product-category-quarter {
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.product-category-half {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.category-img {
    height: auto;
    width: 100%;
}

.category-label-quarter {
    width: 200px;
    border-bottom: 2px solid white;
    position: absolute;
    padding-bottom: 9px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: white;
    z-index: 50;
}

.category-label-half {
    position: absolute;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    z-index: 50;
}

#abstract-text {
    width: 300px;
    margin: 40px;
    color: darkslategrey;
}

#butterfly-text {
    width: 300px;
    margin-top: 370px;
    margin-left: 30px;
    color: coral;
}

.product-sale {
    width: 100%;
}

.sale-banner-img {
    width: 100%;
}

.white-space {
    min-height: 1000px;
    width: 100%;
}

.sale-text-wrapper {
    height: 500px;
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
}

.sale-text {
    padding-bottom: 50px;
    padding-left: 10px;
    border-left: 2px solid darkred;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    line-height: 150%;
    color: darkred;
    z-index: 50;
}

.small-text {
    margin-top: -27px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: darkred;
}

.about {
    height: 600px;
    width: 100%;
    margin-top: 40px;
    background-color: #B8D8D3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-left {
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    color: #480000;
}

.about-right {
    height: 400px;
    width: 66.666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 80%;
    text-align: center;
    line-height: 130%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3em;
    color: #480000;
}

.big-quote {
    font-family: 'Poppins', sans-serif;
    font-size: 15em;
    color: #480000;
}

#top-quote {
    color: #480000;
    align-self: flex-start;
}

#bottom-quote {
    margin-bottom: -165px;
    color: #480000;
    align-self: flex-end;
}

footer {
    min-height: 500px;
    max-width: 1440px;
    min-width: 1440px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: lightgrey;
}

.index-container {
    min-height: 300px;
    max-width: 1440px;
    min-width: 1440px;
    margin: 100px 0 50px 0;
    border-top: 2px solid #FFFCE3;
    border-bottom: 2px solid #FFFCE3;
    display: flex;
    flex-direction: row;
}

.index-categories {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-category {
    width: 50%;
}

.index-title {
    padding-top: 35px;
    font-family: 'Poppins', sans-serif;
    color: lightgrey;
    font-size: 0.9em;
}

.index-title-list {
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: lightgrey;
    font-size: 0.9em;
}

.index-title-list li {
    font-family: 'Poppins', sans-serif;
    color: lightgrey;
    cursor: pointer;
    font-size: 0.9em;
    margin-bottom: 3px;
}

.index-connect {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.connect-icon {
    height: 64px;
    width: 64px;
}

.index-contact {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
}

.newsletter-title {
    margin-top: 35px;
}

.newsletter-form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-input {
    width: 90%;
    padding: 5px;
    font-size: 1.3rem;
}

.newsletter-submit-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 1440px) {
    main {
        min-width: 1100px;
        max-width: 1100px;
    }

    #butterfly-text {
        margin-top: 250px;
    }

    footer {
        min-width: 1100px;
        max-width: 1100px;
    }

    .index-container {
        min-width: 1100px;
        max-width: 1100px;
    }
}

@media screen and (max-width: 1100px) {
    main {
        min-width: 902px;
        max-width: 902px;
    }

    .cta {
        height: 492px;
    }

    .cta-main {
        height: 492px;
        width: 902px;
    }

    .cta-image {
        height: 492px;
        width: 740px;
    }

    .categories {
        margin-top: 492px;
    }

    .sale-text {
        min-width: 380px;
        font-size: 2.6em;
    }

    .category-label-half {
        font-size: 2.7em;
    }

    #abstract-text {
        width: 250px;
        margin: 20px;
    }

    #butterfly-text {
        width: 250px;
        margin-top: 200px;
    }

    footer {
        min-width: 902px;
        max-width: 902px;
    }

    .index-container {
        min-width: 902px;
        max-width: 902px;
    }
}

@media screen and (max-width: 902px) {
    .nav-title {
        font-size: 2em;
    }

    main {
        min-width: 600px;
        max-width: 600px;
    }

    .cta {
        height: 359px;
    }

    .cta-main {
        height: 359px;
        width: 600px;
    }

    .cta-image {
        height: 359px;
        width: 540px;
    }

    .categories {
        margin-top: 359px;
    }

    .category-label-quarter {
        width: 120px;
        font-size: 1.3em;
    }

    .sale-text-wrapper {
        height: 200px;
        width: 300px;
    }

    .sale-text {
        min-width: 300px;
        font-size: 1.8em;
    }

    .small-text {
        margin-left: 150px;
    }

    .category-label-half {
        font-size: 1.6em;
    }

    #abstract-text {
        width: 150px;
        margin: 20px;
    }

    #butterfly-text {
        width: 170px;
        margin-top: 130px;
        margin-left: 10px;
    }

    .about {
        height: 475px;
        margin-top: 20px;
    }

    .about-title {
        width: 75%;
        font-size: 3em;
    }

    .about-right {
        font-size: 0.7em;
    }

    .big-quote {
        font-size: 10em;
    }

    #bottom-quote {
        margin-right: 20px;
        margin-bottom: -80px;
    }

    footer {
        min-height: 500px;
        min-width: 600px;
        max-width: 600px;
    }

    .index-container {
        min-width: 600px;
        max-width: 600px;
        flex-direction: column;
        align-items: center;
    }

    .index-categories, .index-connect, .index-contact {
        min-height: 200px;
        width: 80%;
        margin: 20px;
    }
}

@media screen and (max-width: 600px) {
    .nav-title {
        margin-left: 10px;
        margin-right: 20px;
        max-width: 120px;
        font-size: 1.8em;
    }
    .category-row {
        flex-direction: column;
    }

    .product-category-quarter {
        width: 80%;
    }

    .product-sale {
        height: 300px;
        width: 80%;
    }

    .sale-text-wrapper {
        height: 270px;
        width: 450px;
    }

    .small-text {
        margin-top: 60px;
        margin-left: 20px;
    }

    .sale-banner-img {
        height: 300px;
    }

    .product-category-half {
        width: 80%;
    }

    #butterfly-text {
        margin-top: 260px;
    }
}