html, body {
    min-height: 100vh;
    width: 100%;
}

nav {

}

.cta {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    background-color: #41A082;
}

.cta-second-background {
    height: 600px;
    width: 1050px;
    background-color: #75A596;

}

.cta-image {
    height: 600px;
    width: 902px;
    position: fixed;
    background-image: url(../images/cta-image.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}